@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IHttpContextAccessor _httpContext;
@inject IViewLocalizer Localizer;

@{
    var username = _httpContext.HttpContext!.Session.GetString("username");
    var role = _httpContext.HttpContext.Session.GetString("userRole");
}

<div class="navbar-collapse collapse justify-content-end text-end">
    <ul class="navbar-nav">
        <span class="mt-4"></span>
        <li class="nav-item active">
            <partial name="~/Views/Shared/_CartPartial.cshtml" class="nav-link" />
        </li>
        <span class="mb-2 ms-3"></span>
        @if (username != null)
        {
            @if (role == "Admin")
            {
            <li class="nav-item active">
                <a class="btn" asp-controller="Admin" asp-action="NewProduct">@Localizer["NewProductButton"]</a>
            </li>

            <li class="nav-item active">
                <a class="btn" asp-controller="Admin" asp-action="ManageProducts">@Localizer["ManageProductsButton"]</a>
            </li>
                    
            }

            <li class="nav-item active">
                <a asp-action="Orders" asp-controller="Order" class="btn">@Localizer["MyOrdersButton"]</a>
            </li>  
            <li class="nav-item active">
                <a class="btn border" asp-action="EditAccount" asp-controller="Account" asp-route-username="@username">@username</a>
            </li>
            <span class="mb-2"></span>
            <li class="nav-item active">
                <a class="btn yellowBtn" asp-action="Logout" asp-controller="Account">@Localizer["LogoutButton"]</a>
            </li>     
        }
        else
        {
            <li class="nav-item active">
                <a class="btn yellowBtn" asp-action="Login" asp-controller="Account">@Localizer["LoginButton"]</a>
            </li>
            <span class="ms-1 mt-1"></span>
            <li class="nav-item active">
                <a class="btn yellowBtn" asp-action="Signup" asp-controller="Account">@Localizer["SignupButton"]</a>
            </li>
        }
        <span class="ms-1"></span>
        <li class="nav-item active">
            <a class="btn btn-sm text-black" asp-action="ChangeLanguage" asp-controller="Home" asp-route-lang="es">ES</a>
        </li>
        <li class="nav-item active">
            <a class="btn btn-sm text-black" asp-action="ChangeLanguage" asp-controller="Home" asp-route-lang="en">EN</a>
        </li>
    </ul>
</div>