@model MarketClubMvc.Models.ModelsDto.OrderDto
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = "Checkout";
    float total = 0;
}

<h1 class="text-center">@Localizer["CheckoutTitle"]</h1>

<div class="container d-flex">
    <hr />
    <div class="col-12 col-md-6 mt-5">
        @foreach (var item in Model.CartProducts)
        {
            <div class="mt-2 mb-5 d-flex">
                <div class="">
                    <p class="fw-bold overflow-hidden">@item.Product.Name</p>
                    <img src="@item.Product.ImageUri?=v=@DateTime.UtcNow.Ticks" style="width: 5rem; height: 5rem" />
                </div>
                <div class="ms-5 align-content-center">
                    <p class="mt-5">x @item.Quantity</p>
                </div>
            </div>  
            total = total + (item.Product.Price * item.Quantity);
        }
    </div>
    <div class="col-12 col-md-6 mx-auto text-center mt-5">
        <h5 class="mb-4 mx-auto text-center">@Localizer["ShippingTitle"]</h5>
        <form asp-action="Checkout" asp-controller="Order">
        <select class="form-select text-center" asp-for="Shipping">
            <option value="San Jose">Pick up in San Jose</option>
            <option value="Cartago">Pick up in Cartago</option>
        </select>
            <h5 class="mt-5">@Localizer["PaymentMethodTitle"]</h5>
        <div class="form-check d-flex justify-content-center mt-4">
            <input asp-for ="PaymentMethod" class="form-check-input" type="radio" value="DebitCard" checked />
            <label for="DebitCard" class="ms-3">Debit Card</label>
        </div>
        <h3 class="mt-5">Total: $@total</h3>
            @{
                for(int i = 0; i<Model.CartProducts.Count; i++)
                {
                    <input type="hidden" asp-for="CartProducts[@i].Product.Id"/>
                    <input type="hidden" asp-for="CartProducts[@i].Product.Name" />
                    <input type="hidden" asp-for="CartProducts[@i].Product.Description" />
                    <input type="hidden" asp-for="CartProducts[@i].Product.Price" />
                    <input type="hidden" asp-for="CartProducts[@i].Product.ImageUri" />
                }
            }
            <input type="hidden" asp-for="Total" value="@total" />

            <button class="btn btn-success mt-4 w-75" type="submit">@Localizer["PayButton"]</button>
        </form>
    </div>
</div>
